.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-radius: 10px;

  background: linear-gradient(90deg, #aa50eb, #d63384);
  color: white;

  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 15px;
}

.links button {
  background: white;
  color: #6a0dad;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.links button:hover {
  background: #f5e6ff;
}